body {
  background: #ffe6e9;
  font-family: Meiryo;
  color: #333333;
}
div {
  background: #ffffff;
  width: 600px;
  height: 200px;
  padding: 50px;
  text-align: center;
  border: 1px solid #eeeeee;
  margin: 30px auto;
}

h1{
  font-size: 40px;
  color: #555555;
}
h2{
  font-size: 36px;
  color: #444444;
}
p{
  font-size: 30px;
}
